/* CSS Document */
/* begin company/catering modal */

a {
	color: #0078be;
}
a:hover {
	color: #0078be;
}
.about_us .footer a:hover, .footer a:hover {
    color: #0078be;
}
.corp_modals_wrapper {
	position: absolute;
	width: 100%;
	z-index: 999;
}
.corp_modals {
	max-width: 1066px;
	background: #0183C5;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}
.corp_modals h2 {
	font-family: montserrat_bold, sans-serif;
	font-size: 40px;
	line-height: 50px;
	padding: 40px 20px 0;
}
.corp_modals h2 span {
	font-family: Pacifico;
	font-size: 43px;
	line-height: 50px;
}
.corp_modals p {
	font-family: OpenSans_reg;
	font-size: 19px;
	line-height: 27px;
	font-weight: normal;
	max-width: 820px;
	margin: 0 auto;
	padding: 0 20px;
}
.corp_modal_panels {
	color: #2D2D2D;
	background: #fff;
	text-align: left;
	margin: 25px 30px;
	padding: 40px;
	border-radius: 5px;
	overflow: visible;
}
.corp_modal_panels .input_row {
	margin: 15px 0;
}
.corp_modal_panels h3 {
	font-family: montserrat_reg, sans-serif;
	font-size: 24px;
	color: #F26C2D;
	letter-spacing: 0px;
	line-height: 34px;
	margin-bottom: 30px;
}
.corp_modal_panels p {
	font-family: OpenSans_reg, sans-serif;
	font-size: 15px;
	color: #2D2D2D;
	letter-spacing: 0px;
	line-height: 27px;
}
.corp_modal_panels label {
	font-family: OpenSans_reg, sans-serif;
	font-size: 15px;
	color: #2D2D2D;
	letter-spacing: 0px;
	line-height: 27px;
	font-weight: normal;
	text-align: left !important;
}
.corp_modal_panels .form-control {
	font-family: OpenSans_reg, sans-serif;
	font-size: 15px;
	color: #2D2D2D;
	letter-spacing: 0px;
	line-height: 27px;
	font-weight: normal;
	display: block;
	width: 100%;
	min-height: 47px;
	padding: 6px 12px;
	background-color: #F2F4F6;
	background-image: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.corp_modal_panels .form-control:focus {
	border-color: transparent;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.corp_create {
	background-color: transparent;
	border: 2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	font-family: montserrat_bold, sans-serif;
	font-weight: 700;
	font-size: 15px;
	outline: 0;
	transition: all .5s ease-in-out;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: 30px;
	min-width: 250px;
}
.corp_create:hover {
	background-color: #fff;
	color: #428bca;
	text-decoration: none!important
}
.corp_create:focus {
	border-color: #333
}
.corp_create.cta_blue {
	border-color: #0083c6;
	color: #0083c6
}
.corp_create.cta_blue:hover {
	background-color: #0083c6;
	color: #fff
}
.grp_catering {
	overflow: visible;
}
.txta_catering {
	width: 767px !important;
}
/* begin create company account */
.corp_create_account {
	display: none;
	margin: 60px auto;
	z-index: 999;
}
/* end create company account */
/* begin create company account */
.corp_contact_catering {
	display: none;
	margin: 60px auto;
	z-index: 999;
}
/* end create company account */
/* end company/catering modal */
.h47 {
	height: 47px;
}

@media screen and (max-width:992px) {
.corp_create_account {
	margin: 0 auto;
}
.corp_contact_catering {
	margin: 0 auto;
}
.h47 {
	height: 0;
}
.h47 .form-group {
	margin-bottom: 0;
}
}

@media screen and (max-width:1050px) {
.txta_catering {
	width: 100% !important;
}
}
.corp_white_overlay {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.8);
	z-index: 100;
	display: none
}
.close_x {
	float: right;
	color: #fff;
	font-size: 25px;
	padding: 10px 20px;
}
.homepage_header.corp_header {
	background-image: url(../images/TOC_Hero.jpg);
	background-repeat:n o-repeat;
	background-size: cover;
	background-position: center;
	min-height: 450px;
	margin-bottom: 30px;
}
.homepage_header.corp_header .title {
	margin-top: 58px;
}
@media screen and (max-width:992px) {
.homepage_header.corp_header .title h1 {
	font-size: 60px;
	line-height: 70px;
	/*margin-top: 65px;*/
}
}
@media screen and (max-width:767px) {
.homepage_header.corp_header .title h1 {
	font-size: 40px;
	line-height: 50px;
	/*margin-top: 65px;*/
}
}
.corp_main_content {
	margin: 0 auto !important;
}
.corp_main_content:after {
	content: '';
	display: block;
	max-width: 1226px;
	height: 1px;
	background-color: #C3C3C3;
	margin: 40px auto;
}
.corp_main_content .main_text {
	margin: 0 auto 35px auto !important;
	text-align: center;
}
.corp_main_content .main_text h3 {
	font-family: montserrat_reg, sans-serif;
	font-weight: normal;
	text-transform: none;
	line-height: 34px;
	margin: 0 auto 20px auto;
	max-width: 860px;
}
@media screen and (max-width:992px) {
.corp_main_content .main_text h3 {
	font-size: 25px;
	line-height: 30px;
}
}
@media screen and (max-width:767px) {
.corp_main_content .main_text h3 {
	font-size: 20px;
	line-height: 25px;
}
}
/*.corp_main_content .main_text h2 span {
	color: #f1560e
}*/
.corp_main_content .main_text p {
	font-family: OpenSans_reg, sans-serif;
	font-weight: 400;
	font-size: 19px;
	color: #343434;
	line-height: 27px;
	margin: 0 auto 15px auto;
	max-width: 860px;
}
@media screen and (max-width:992px) {
.corp_main_content .main_text p {
	font-size: 18px;
	line-height: 25px;
}
}
@media screen and (max-width:992px) {
.corp_main_content .main_text p {
	font-size: 16px;
	line-height: 22px;
}
}
.corp_section_title_bold h2 {
	font-size: 47px;
	font-family: montserrat_bold, sans-serif;
	font-weight: 700;
	text-align: center;
	display: block;
	margin: 40px 0;
}
.corp_section_title_bold h2 span {
	font-size: 49px;
	color: #f1560e;
	font-family: Pacifico, cursive;
	font-weight: 400;
	font-style: normal!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
@media screen and (max-width:992px) {
.corp_section_title_bold h2 {
	font-size: 37px;
	padding: 0 10px;
}
.corp_section_title_bold h2 span {
	font-size: 39px;
}
}
@media screen and (max-width:767px) {
.corp_section_title_bold h2 {
	font-size: 27px;
	padding: 0 10px;
}
.corp_section_title_bold h2 span {
	font-size: 29px;
}
}
.corp_section_title_bold:after {
	content: '';
	display: block;
	width: 105px;
	height: 1px;
	background-color: #C3C3C3;
	margin: 40px auto
}

@media screen and (max-width:767px) {
.corp_section_title_bold {
	margin-top: 10px;
}
}
.corp_section_title h2 {
	font-size: 40px;
	font-family: montserrat_reg, sans-serif;
	font-weight: normal;
	text-align: center;
	display: block;
	margin: 20px 0 40px;
}
.corp_section_title h2 span {
	font-size: 41px;
	color: #f1560e;
	font-family: Pacifico, cursive;
	font-weight: 400;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
@media screen and (max-width:992px) {
.corp_section_title h2 {
	font-size: 35px;
}
.corp_section_title h2 span {
	font-size: 36px;
}
}
@media screen and (max-width:767px) {
.corp_section_title h2 {
	font-size: 25px;
}
.corp_section_title h2 span {
	font-size: 26px;
}
}
.corp_section_heading {
	font-size: 40px;
	font-family: montserrat_bold, sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0;
	line-height: 50px;
}
/*.corp_section_heading span {
	color: #f1560e
}*/
@media screen and (max-width:992px) {
.corp_section_heading {
	font-size: 22px;
	line-height: 30px;
}
}
@media screen and (max-width:767px) {
.corp_section_heading {
	font-size: 20px;
	line-height: 25px;
	text-align: center;
}
}
/* begin 3 panels elevator_row*/
.corp_elevator .elevator_row {
	max-width: 1225px;
	min-height: 425px;
	background-color: #f2f4f6;
	margin-bottom: 20px
}
.corp_elevator .xx_height {
	min-height: 450px !important;
}
.corp_elevator_container {
	padding: 60px;
}
.corp_elevator .elevator_row .d_img_left {
	float: left;
	padding-right: 30px
}
.corp_elevator .elevator_row .d_img_right {
	float: right;
	padding-left: 30px
}
.corp_elevator .elevator_row .img1 {
	margin-top: 20px;
}
.corp_elevator .elevator_row .img2 {
	margin-top: 20px;
}
.corp_elevator .elevator_row .img3 {
	margin-top: 20px;
}
.corp_elevator .elevator_row .d_num_left {
	float: left;
	padding-right: 20px;
	margin-top: 12px;
}
.corp_elevator .elevator_row .d_num_right {
	float: right;
	padding-left: 20px;
	margin-top: 12px;
}
.corp_elevator .elevator_row .d_h1_right {
	text-align: right;
	right: 0;
	left: auto
}
.corp_elevator .elevator_row .d_p_left {
	font-size: 19px;
	line-height: 27px;
	font-family: OpenSans_reg, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 15px 0;
	max-width: 760px;
}
.corp_elevator .elevator_row .d_p_right {
	font-size: 19px;
	line-height: 27px;
	font-family: OpenSans_reg, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 15px 0;
	max-width: 760px;
	float: right;
	text-align: right;
}
.corp_elevator .elevator_row a {
	font-size: 19px;
	font-family: OpenSans_bold, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 15px 0;
}
			@media screen and (max-width:992px) {
			.corp_elevator .elevator_row .d_img_left {
				float: left;
				padding-right: 0;
			}
			.corp_elevator .elevator_row .d_img_right {
				float: right;
				right: 0;
				padding-left: 0;
			}
			.corp_elevator .elevator_row .img1 {
				margin-top: 0;
				width: 150px;
				height: 173px;
			}
			.corp_elevator .elevator_row .img2 {
				margin-top: 0;
				width: 150px;
				height: 118px;
			}
			.corp_elevator .elevator_row .img3 {
				margin-top: 0;
				width: 200px;
				height: 150px;
			}
			.corp_elevator .elevator_row .d_num_left {zzzzzzzzzzzzzzzzzzzz
				height: 60px;
				width: 60px;
			}
			.corp_elevator .elevator_row .d_num_left img {
			}
			.corp_elevator .elevator_row .d_num_right {
				float: none;
				padding-left: 0;
				margin: 0 auto;
				height: 60px;
				width: 60px;
			}
			.corp_elevator .elevator_row .d_p_left {
				font-size: 18px;
				line-height: 26px;
			}
			.corp_elevator .elevator_row .d_p_right {
				font-size: 18px;
				line-height: 26px;
			}
			}

								@media screen and (max-width:767px) {
								.corp_elevator_container {
									padding: 40px;
								}
								.corp_elevator .elevator_row .d_img_left {
									float: none;
									padding-right: 0;
									text-align: center;
								}
								.corp_elevator .elevator_row .d_img_right {
									float: none;
									padding-right: 0;
									text-align: center;
								}
								.corp_elevator .elevator_row .img1 {
									margin: 20px auto;
									/*padding-right: 55px;*/
									width: 115px;
									height: 133px;
								}
								.corp_elevator .elevator_row .img2 {
									margin: 20px auto;
									width: 130px;
									height: 102px;
								}
								.corp_elevator .elevator_row .img3 {
									margin: 20px auto;
									/*padding-right: 40px;*/
									width: 165px;
									height: 124px;
								}
								.corp_elevator .elevator_row .d_num_left {
									float: none;
									padding-right: 0;
									margin: 0 auto;
									height: 60px;
									width: 60px;
								}
								.corp_elevator .elevator_row .d_num_left img {
								}
								.corp_elevator .elevator_row .d_num_right {
									float: none;
									padding-left: 0;
									margin: 0 auto;
									height: 60px;
									width: 60px;
								}
								.corp_elevator .elevator_row .d_num_right img {
								}
								.corp_elevator .elevator_row .d_h1_right {
									text-align: center;
								}
								.corp_elevator .elevator_row .d_p_left {
									font-size: 16px;
									line-height: 22px;
									text-align: center;
								}
								.corp_elevator .elevator_row .d_p_right {
									font-size: 16px;
									line-height: 22px;
									float: none;
									text-align: center;
								}
								}
/*.corp_elevator .elevator_row p.copy_larger {
	font-size: 24px;
	line-height: 34px
}*/
/* end 3 panels elevator_row*/
.corp_cta {
	background-color: transparent;
	border: 2px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	font-family: montserrat_bold, sans-serif;
	font-weight: 700;
	font-size: 15px;
	outline: 0;
	transition: all .5s ease-in-out;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.corp_cta:hover {
	background-color: #fff;
	color: #428bca;
	text-decoration: none!important
}
.corp_cta:focus {
	border-color: #333
}
.corp_cta.cta_blue {
	border-color: #0083c6;
	color: #0083c6
}
.corp_cta.cta_blue:hover {
	background-color: #0083c6;
	color: #fff
}
.corp_cta_banner {
	background-color: #0078be;
	padding: 60px 0;
	text-align: center;
	color: #fff;
	margin-top: 25px;
}
.corp_cta_banner h2 {
	color: #fff;
	font-family: montserrat_bold, sans-serif;
	font-weight: 700;
	font-size: 40px;
	padding: 0!important;
	margin: 0 0 15px!important;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 50px;
}
.corp_cta_banner h2 em {
	font-family: Pacifico, cursive;
	font-weight: 400;
	font-style: normal!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 43px
}
@media screen and (max-width:992px) {
.corp_cta_banner h2 {
	font-size: 30px;
	line-height: 40px;
}
.corp_cta_banner h2 em {
	font-size: 33px;
}
}
@media screen and (max-width:767px) {
.corp_cta_banner h2 {
	font-size: 20px;
	line-height: 25px;
}
.corp_cta_banner h2 em {
	font-size: 23px;
}
}
.corp_cta_banner p {
	font-family: OpenSans_reg, sans-serif;
	font-weight: 400;
	font-size: 19px;
	padding-bottom: 15px;
	margin: 0;
	line-height: 50px;
}
.corp_cta_banner p strong {
	font-family: OpenSans_bold, sans-serif;
	font-weight: 900;
	font-size: 19px;
	padding-bottom: 15px;
	margin: 0;
	line-height: 50px;
}
.corp_cta_banner p.no_padding {
	padding: 0
}
.corp_cta_banner input[type=text] {
	display: inline-block;
	width: 20%;
	margin-left: 15px
}
.corp_cta_banner input[type=text]:first-child {
	margin-left: 0
}
